/cmake-build-debug/.cmake/
/cmake-build-debug/CMakeFiles/
/cmake-build-debug/Testing/
/cmake-build-debug/.ninja_deps
/cmake-build-debug/.ninja_log
/cmake-build-debug/build.ninja
/cmake-build-debug/cmake_install.cmake
/cmake-build-debug/CMakeCache.txt
chan/cmake-build-debug/slangc.ilk
/cmake-build-debug/slangc.pdb
/.vs/
*.o
*.ll